openapi: 3.1.0
info:
  description: External API endpoints for Artie
  title: Artie API
  version: v1.0.83
servers:
- url: https://api.artie.com
paths:
  /column-hashing-salts:
    get:
      description: Lists all column hashing salts for the authenticated company.
      operationId: column_hashing_salt_list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyColumnHashingSalt'
          description: OK
        "500":
          description: Internal Server Error
      summary: List column hashing salts
      tags:
      - Column Hashing Salts
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: column_hashing_salt_list
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - column_hashing_salts:read
        retrySemantics: safe
        title: List column hashing salts
        triggerDescription: Lists column hashing salt names and UUIDs (no secret).
    post:
      description: Creates a new column hashing salt for the authenticated company.
      operationId: column_hashing_salt_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterCreateColumnHashingSaltRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterCreateColumnHashingSaltResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a column hashing salt
      tags:
      - Column Hashing Salts
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Accepts and returns a column-hashing salt.
        exposure: excluded
        idempotentHint: false
        inputSensitivity: restricted-credentials
        openWorldHint: false
        operationId: column_hashing_salt_create
        outputSensitivity: restricted-credentials
        readOnlyHint: false
        remediation: Create column-hashing salts through the authenticated Dashboard
          setup flow.
        requiredScopes:
        - column_hashing_salts:write
        retrySemantics: unsafe
        title: Create a column hashing salt
        triggerDescription: Use when you need to create a column hashing salt.
  /column-hashing-salts/{uuid}:
    delete:
      description: Deletes a column hashing salt by UUID.
      operationId: column_hashing_salt_delete
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Delete a column hashing salt
      tags:
      - Column Hashing Salts
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: column_hashing_salt_delete
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - column_hashing_salts:delete
        retrySemantics: safe-after-state-check
        title: Delete a column hashing salt
        triggerDescription: Deletes a column hashing salt by UUID. Does not unhash
          already-landed columns.
    get:
      description: Retrieves a column hashing salt by UUID, including the decrypted
        salt. Requires company admin.
      operationId: column_hashing_salt_detail
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsColumnHashingSaltDetail'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get a column hashing salt
      tags:
      - Column Hashing Salts
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Returns the decrypted column-hashing salt.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: column_hashing_salt_detail
        outputSensitivity: restricted-credentials
        readOnlyHint: true
        remediation: Use column_hashing_salt_list for non-secret salt references.
        requiredScopes:
        - column_hashing_salts:read
        retrySemantics: safe
        title: Get a column hashing salt
        triggerDescription: Use when you need to get a column hashing salt.
    post:
      description: Updates the name and description of a column hashing salt.
      operationId: column_hashing_salt_update
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterUpdateColumnHashingSaltRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsColumnHashingSalt'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update a column hashing salt
      tags:
      - Column Hashing Salts
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: column_hashing_salt_update
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - column_hashing_salts:write
        retrySemantics: unsafe
        title: Update a column hashing salt
        triggerDescription: Updates the name and description of an existing column
          hashing salt. Does not rotate the secret.
  /column-hashing-salts/{uuid}/preview:
    post:
      description: Hashes a sample string value with this salt using the same function
        used by Artie's pipelines (HMAC-SHA256 keyed on the salt, or SHA-256 if the
        salt is empty). Returns the hex-encoded hash.
      operationId: column_hashing_salt_preview
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPreviewColumnHashingSaltRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterPreviewColumnHashingSaltResponse'
          description: OK
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Preview a column hashing salt
      tags:
      - Column Hashing Salts
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: column_hashing_salt_preview
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - column_hashing_salts:read
        retrySemantics: safe
        title: Preview a column hashing salt
        triggerDescription: Hashes a sample string with this salt and returns the
          hex digest.
  /company/automatic-schema-changes:
    post:
      description: Enqueues automatic schema changes for all eligible running pipelines
        in the authenticated company. The request is accepted before reconciliation
        completes.
      operationId: company_trigger_automatic_schema_changes
      responses:
        "202":
          description: Accepted
        "403":
          description: Forbidden
        "500":
          description: Internal Server Error
      summary: Trigger automatic schema changes
      tags:
      - Company
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: company_trigger_automatic_schema_changes
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - pipelines:write
        retrySemantics: safe-after-state-check
        title: Trigger automatic schema changes for a company
        triggerDescription: Enqueues automatic schema changes for all eligible running
          pipelines. For one pipeline, use pipeline_trigger_automatic_schema_changes.
  /connectors:
    get:
      description: Returns all destination connectors for the authenticated company.
        Pass includeSourceConnectors=true to also include source connectors.
      operationId: connector_list
      parameters:
      - in: query
        name: includeSourceConnectors
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyLightConnector'
          description: OK
        "500":
          description: Internal Server Error
      summary: List connectors
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: connector_list
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - connectors:read
        retrySemantics: safe
        title: List connectors
        triggerDescription: Lists saved connectors. Defaults to destinations; pass
          includeSourceConnectors=true for sources.
    post:
      description: Creates a new source or destination connector for your Artie deployment.
        Configure database connections, authentication, and replication settings programmatically.
      operationId: connector_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsConnectorPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsFullConnector'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Accepts connector configuration that can contain credentials.
        exposure: excluded
        idempotentHint: false
        inputSensitivity: restricted-credentials
        openWorldHint: false
        operationId: connector_create
        outputSensitivity: restricted-credentials
        readOnlyHint: false
        remediation: Create connectors through the authenticated Dashboard setup flow.
        requiredScopes:
        - connectors:write
        retrySemantics: unsafe
        title: Create a connector
        triggerDescription: Use when you need to create a connector.
  /connectors/{uuid}:
    delete:
      description: Permanently removes a connector and its associated configuration.
        This stops any active replication pipelines that depend on the connector.
      operationId: connector_delete
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Delete a connector
      tags:
      - Connectors
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: connector_delete
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - connectors:delete
        retrySemantics: safe-after-state-check
        title: Delete a connector
        triggerDescription: Permanently deletes a saved connector by UUID and stops
          pipelines that depend on it.
    get:
      description: Retrieves the full configuration and status of a connector by its
        unique identifier, including connection settings and current replication state.
      operationId: connector_detail
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsFullConnector'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get a connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Returns connector configuration that can contain credentials.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: connector_detail
        outputSensitivity: restricted-credentials
        readOnlyHint: true
        remediation: Use connector_fetch_table_detail or the authenticated Dashboard
          for connector configuration.
        requiredScopes:
        - connectors:read
        retrySemantics: safe
        title: Get a connector
        triggerDescription: Use when you need to get a connector.
    post:
      description: Updates the configuration of an existing source or destination
        connector. Modify connection settings, credentials, or replication parameters
        for a running pipeline.
      operationId: connector_update
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsConnectorPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsFullConnector'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update a connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Accepts and returns connector configuration that can contain
          credentials.
        exposure: excluded
        idempotentHint: false
        inputSensitivity: restricted-credentials
        openWorldHint: false
        operationId: connector_update
        outputSensitivity: restricted-credentials
        readOnlyHint: false
        remediation: Update connector credentials through the authenticated Dashboard
          setup flow.
        requiredScopes:
        - connectors:write
        retrySemantics: unsafe
        title: Update a connector
        triggerDescription: Use when you need to update a connector.
  /connectors/{uuid}/databases:
    get:
      description: Lists available databases on the target using a saved connector's
        configuration. Response metadata may include Iceberg S3 table bucket maintenance
        defaults.
      operationId: connector_fetch_databases
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsConnectorFetchDatabasesResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Fetch databases for a saved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: true
        operationId: connector_fetch_databases
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - connectors:read
        retrySemantics: safe
        title: Fetch databases for a saved connector
        triggerDescription: Lists database names a saved source can see.
  /connectors/{uuid}/detail:
    get:
      description: Returns detailed metadata for a specific table on the saved connector.
        tableName is required; databaseName defaults to the connector's configured
        database, schemaName defaults to the connector type's default schema, and
        isView is optional.
      operationId: connector_fetch_table_detail
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - in: query
        name: databaseName
        schema:
          type: string
      - in: query
        name: schemaName
        schema:
          type: string
      - in: query
        name: tableName
        required: true
        schema:
          type: string
      - in: query
        name: isView
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsConnectorTableDetailResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Fetch table detail for a saved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: true
        operationId: connector_fetch_table_detail
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - connectors:read
        retrySemantics: safe
        title: Fetch table detail for a saved connector
        triggerDescription: Returns columns and metadata for one table on a saved
          connector.
  /connectors/{uuid}/generate-shadow-script:
    post:
      description: Generates the SQL script to create shadow tables required for Oracle
        change data capture (CDC). Run this script on your Oracle source before starting
        replication.
      operationId: connector_generate_shadow_script
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorGenerateShadowScriptRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterConnectorGenerateShadowScriptResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Generate Oracle shadow table script
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: connector_generate_shadow_script
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - connectors:read
        retrySemantics: safe
        title: Generate Oracle shadow table script
        triggerDescription: Returns SQL to create Oracle shadow tables for CDC. Oracle
          sources only.
  /connectors/{uuid}/postgres-drop-replication-slot:
    post:
      description: Drops a PostgreSQL replication slot that is inactive or orphaned.
        Use this to clean up stale replication slots that may be preventing WAL cleanup
        on the source.
      operationId: connector_drop_postgres_replication_slot
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorDropReplicationSlotRequest'
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Drop a PostgreSQL replication slot
      tags:
      - Connectors
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: connector_drop_postgres_replication_slot
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - connectors:write
        retrySemantics: unsafe
        title: Drop a PostgreSQL replication slot
        triggerDescription: Drops an inactive PostgreSQL replication slot. Confirm
          the slot is unused.
  /connectors/{uuid}/schemas:
    get:
      description: Lists available schemas on the target using a saved connector's
        configuration. Pass 'databaseName' as a query parameter.
      operationId: connector_fetch_schemas
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - in: query
        name: databaseName
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodySchemaResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Fetch schemas for a saved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: true
        operationId: connector_fetch_schemas
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - connectors:read
        retrySemantics: safe
        title: Fetch schemas for a saved connector
        triggerDescription: Lists schemas on a saved connector. Pass schemaName into
          connector_fetch_tables when the destination requires it.
  /connectors/{uuid}/start-dynamodb-export:
    post:
      description: Initiates a point-in-time export from Amazon DynamoDB for the specified
        connector. Use this to backfill your destination with existing DynamoDB table
        data.
      operationId: connector_start_dynamo_db_export
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorStartDynamoDBExportRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterConnectorStartDynamoDBExportResponse'
          description: OK
        "500":
          description: Internal Server Error
      summary: Start a DynamoDB export
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: connector_start_dynamo_db_export
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - connectors:write
        retrySemantics: unsafe
        title: Start a DynamoDB export
        triggerDescription: Starts a DynamoDB point-in-time export. DynamoDB sources
          only; for SQL CDC use pipeline_start.
  /connectors/{uuid}/tables:
    get:
      description: Lists available tables on the target using a saved connector's
        configuration. databaseName defaults to the connector's configured database;
        schemaName defaults to the connector type's default schema (e.g. 'public'
        for Postgres, 'dbo' for SQL Server).
      operationId: connector_fetch_tables
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - in: query
        name: databaseName
        schema:
          type: string
      - in: query
        name: schemaName
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyConnectorTableDetailResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Fetch tables for a saved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: true
        operationId: connector_fetch_tables
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - connectors:read
        retrySemantics: safe
        title: Fetch tables for a saved connector
        triggerDescription: Lists tables on a saved connector. Use to choose names
          for pipeline_update.tables.
  /connectors/databases:
    post:
      description: Lists available databases on the target using an unsaved connector
        configuration. Useful during connector setup to discover existing databases.
        Response metadata may include Iceberg S3 table bucket maintenance defaults.
      operationId: unsaved_connector_fetch_databases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsConnectorPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsConnectorFetchDatabasesResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Fetch databases for an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Accepts an unsaved connector configuration that can contain
          credentials.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: restricted-credentials
        openWorldHint: true
        operationId: unsaved_connector_fetch_databases
        outputSensitivity: none
        readOnlyHint: true
        remediation: Save the connector before discovering databases.
        requiredScopes:
        - connectors:read
        retrySemantics: safe
        title: Fetch databases for an unsaved connector
        triggerDescription: Use when you need to fetch databases for an unsaved connector.
  /connectors/new-database:
    post:
      description: Creates a new database on the target destination using a connector
        configuration that has not yet been saved. Useful during initial setup to
        prepare the destination.
      operationId: unsaved_connector_create_database
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorCreateDatabaseRequest'
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a database on an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: false
        exclusionReason: Accepts an unsaved connector configuration that can contain
          credentials.
        exposure: excluded
        idempotentHint: false
        inputSensitivity: restricted-credentials
        openWorldHint: true
        operationId: unsaved_connector_create_database
        outputSensitivity: none
        readOnlyHint: false
        remediation: Create the database through the authenticated Dashboard setup
          flow.
        requiredScopes:
        - connectors:write
        retrySemantics: unsafe
        title: Create a database on an unsaved connector
        triggerDescription: Use when you need to create a database on an unsaved connector.
  /connectors/new-schema:
    post:
      description: Creates a new schema on the target destination using a connector
        configuration that has not yet been saved. Useful during initial setup to
        organize destination tables.
      operationId: unsaved_connector_create_schema
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorCreateSchemaRequest'
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a schema on an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: false
        exclusionReason: Accepts an unsaved connector configuration that can contain
          credentials.
        exposure: excluded
        idempotentHint: false
        inputSensitivity: restricted-credentials
        openWorldHint: true
        operationId: unsaved_connector_create_schema
        outputSensitivity: none
        readOnlyHint: false
        remediation: Create the schema through the authenticated Dashboard setup flow.
        requiredScopes:
        - connectors:write
        retrySemantics: unsafe
        title: Create a schema on an unsaved connector
        triggerDescription: Use when you need to create a schema on an unsaved connector.
  /connectors/new-snowflake-warehouse:
    post:
      description: Creates a new Snowflake virtual warehouse using an unsaved connector
        configuration. Useful during initial setup to provision compute resources
        for data replication.
      operationId: unsaved_connector_create_snowflake_warehouse
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorCreateSnowflakeWarehouseRequest'
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a Snowflake warehouse on an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: false
        exclusionReason: Accepts an unsaved connector configuration that can contain
          credentials.
        exposure: excluded
        idempotentHint: false
        inputSensitivity: restricted-credentials
        openWorldHint: true
        operationId: unsaved_connector_create_snowflake_warehouse
        outputSensitivity: none
        readOnlyHint: false
        remediation: Create the warehouse through the authenticated Dashboard setup
          flow.
        requiredScopes:
        - connectors:write
        retrySemantics: unsafe
        title: Create a Snowflake warehouse on an unsaved connector
        triggerDescription: Use when you need to create a Snowflake warehouse on an
          unsaved connector.
  /connectors/ping:
    post:
      description: Tests network connectivity and authentication for a connector configuration
        before saving it. Use this to validate connection settings during connector
        setup.
      operationId: unsaved_connector_ping
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorPingRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterConnectorPingResponse'
          description: OK
        "204":
          description: No Content
        "400":
          description: Bad Request
      summary: Ping a connector
      tags:
      - Connectors
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: false
        exclusionReason: Accepts an unsaved connector configuration that can contain
          credentials.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: restricted-credentials
        openWorldHint: true
        operationId: unsaved_connector_ping
        outputSensitivity: none
        readOnlyHint: true
        remediation: Validate credentials through the authenticated Dashboard setup
          flow.
        requiredScopes:
        - connectors:read
        retrySemantics: safe
        title: Ping a connector
        triggerDescription: Use when you need to ping a connector.
  /connectors/postgres-publications:
    post:
      description: Lists logical replication publications on a PostgreSQL source using
        an unsaved connector configuration. Useful during connector setup to let users
        select an existing publication.
      operationId: unsaved_connector_fetch_postgres_publications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorFetchPostgresPublicationsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyPostgresPublication'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: List PostgreSQL publications for an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Accepts an unsaved connector configuration that can contain
          credentials.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: restricted-credentials
        openWorldHint: true
        operationId: unsaved_connector_fetch_postgres_publications
        outputSensitivity: none
        readOnlyHint: true
        remediation: Save the connector before discovering PostgreSQL publications.
        requiredScopes:
        - connectors:read
        retrySemantics: safe
        title: List PostgreSQL publications for an unsaved connector
        triggerDescription: Use when you need to list PostgreSQL publications for
          an unsaved connector.
  /connectors/schemas:
    post:
      description: Lists available schemas in a specific database using an unsaved
        connector configuration. Useful during connector setup to discover existing
        schemas.
      operationId: unsaved_connector_fetch_schemas
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorFetchSchemasRequest'
        required: true
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Fetch schemas for an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Accepts an unsaved connector configuration that can contain
          credentials.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: restricted-credentials
        openWorldHint: true
        operationId: unsaved_connector_fetch_schemas
        outputSensitivity: none
        readOnlyHint: true
        remediation: Save the connector before discovering schemas.
        requiredScopes:
        - connectors:read
        retrySemantics: safe
        title: Fetch schemas for an unsaved connector
        triggerDescription: Use when you need to fetch schemas for an unsaved connector.
  /connectors/tables:
    post:
      description: Lists available tables in a specific database and schema using
        an unsaved connector configuration. Results are cached when a connector UUID
        is provided.
      operationId: unsaved_connector_fetch_tables
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterConnectorFetchTablesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyConnectorTable'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Fetch tables for an unsaved connector
      tags:
      - Connectors
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Accepts an unsaved connector configuration that can contain
          credentials.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: restricted-credentials
        openWorldHint: true
        operationId: unsaved_connector_fetch_tables
        outputSensitivity: none
        readOnlyHint: true
        remediation: Save the connector before discovering tables.
        requiredScopes:
        - connectors:read
        retrySemantics: safe
        title: Fetch tables for an unsaved connector
        triggerDescription: Use when you need to fetch tables for an unsaved connector.
  /data-catalog/search:
    post:
      description: Searches across the company's data catalog using full-text search.
      operationId: data_catalog_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsDataCatalogSearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyDataCatalogMatch'
          description: OK
        "500":
          description: Internal Server Error
      summary: Search the data catalog
      tags:
      - Data Catalog
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: data_catalog_search
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - data_catalog:read
        retrySemantics: safe
        title: Search the data catalog
        triggerDescription: Searches ingested catalog metadata. For live source tables,
          use connector_fetch_tables.
  /encryption-keys:
    get:
      description: Lists all encryption keys for the authenticated company.
      operationId: encryption_key_list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyEncryptionKey'
          description: OK
        "500":
          description: Internal Server Error
      summary: List encryption keys
      tags:
      - Encryption Keys
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: encryption_key_list
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - encryption_keys:read
        retrySemantics: safe
        title: List encryption keys
        triggerDescription: Lists encryption key names and UUIDs (no secret material).
    post:
      description: Creates a new encryption key for the authenticated company.
      operationId: encryption_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterCreateEncryptionKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterCreateEncryptionKeyResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create an encryption key
      tags:
      - Encryption Keys
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Returns a newly generated encryption key.
        exposure: excluded
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: encryption_key_create
        outputSensitivity: restricted-credentials
        readOnlyHint: false
        remediation: Create encryption keys through the authenticated Dashboard setup
          flow.
        requiredScopes:
        - encryption_keys:write
        retrySemantics: unsafe
        title: Create an encryption key
        triggerDescription: Use when you need to create an encryption key.
  /encryption-keys/{uuid}:
    delete:
      description: Deletes an encryption key by UUID.
      operationId: encryption_key_delete
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Delete an encryption key
      tags:
      - Encryption Keys
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: encryption_key_delete
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - encryption_keys:delete
        retrySemantics: safe-after-state-check
        title: Delete an encryption key
        triggerDescription: Deletes an encryption key by UUID. Does not decrypt already-landed
          columns.
    get:
      description: Retrieves an encryption key by UUID, including the decrypted key.
        Requires company admin.
      operationId: encryption_key_detail
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsEncryptionKeyDetail'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get an encryption key
      tags:
      - Encryption Keys
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Returns the decrypted encryption key.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: encryption_key_detail
        outputSensitivity: restricted-credentials
        readOnlyHint: true
        remediation: Use encryption_key_list for non-secret key references.
        requiredScopes:
        - encryption_keys:read
        retrySemantics: safe
        title: Get an encryption key
        triggerDescription: Use when you need to get an encryption key.
    post:
      description: Updates the name and description of an encryption key.
      operationId: encryption_key_update
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterUpdateEncryptionKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsEncryptionKey'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update an encryption key
      tags:
      - Encryption Keys
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: encryption_key_update
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - encryption_keys:write
        retrySemantics: unsafe
        title: Update an encryption key
        triggerDescription: Updates the name and description of an existing encryption
          key. Does not rotate the key material.
  /ingestion-api-keys:
    post:
      description: Creates a new ingestion API key for a source reader. Returns the
        key and its secret (only shown once).
      operationId: ingestion_api_key_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterCreateIngestionAPIKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterCreateIngestionAPIKeyResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create an ingestion API key
      tags:
      - Ingestion API Keys
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Returns an ingestion API key secret that is shown only once.
        exposure: excluded
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: ingestion_api_key_create
        outputSensitivity: restricted-credentials
        readOnlyHint: false
        remediation: Create ingestion API keys through the authenticated Dashboard
          setup flow.
        requiredScopes:
        - ingestion_api_keys:write
        retrySemantics: unsafe
        title: Create an ingestion API key
        triggerDescription: Use when you need to create an ingestion API key.
  /ingestion-api-keys/{uuid}:
    delete:
      description: Deletes an ingestion API key by UUID.
      operationId: ingestion_api_key_delete
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "500":
          description: Internal Server Error
      summary: Delete an ingestion API key
      tags:
      - Ingestion API Keys
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: ingestion_api_key_delete
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - ingestion_api_keys:delete
        retrySemantics: safe-after-state-check
        title: Delete an ingestion API key
        triggerDescription: Deletes an ingestion API key by UUID.
    post:
      description: Updates an existing ingestion API key by UUID.
      operationId: ingestion_api_key_update
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterUpdateIngestionAPIKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsIngestionAPIKey'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update an ingestion API key
      tags:
      - Ingestion API Keys
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: ingestion_api_key_update
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - ingestion_api_keys:write
        retrySemantics: unsafe
        title: Update an ingestion API key
        triggerDescription: Updates metadata on an existing ingestion API key. Does
          not mint a new key.
  /pipelines:
    get:
      description: Returns pipelines for the authenticated company, optionally filtered
        by environment.
      operationId: pipeline_list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseBodyLightPipeline'
          description: OK
        "500":
          description: Internal Server Error
      summary: List pipelines
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: pipeline_list
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - pipelines:read
        retrySemantics: safe
        title: List pipelines
        triggerDescription: Lists pipelines with uuid, name, and status. This is not
          a full configuration — do not send it to pipeline_update.
    post:
      description: Creates a pipeline attached to an existing source reader (pipeline.sourceReaderUUID).
        The reader must have no pipeline yet, or be shared. To start a new capture
        from a source connector, use POST /pipelines/create-from-source.
      operationId: pipeline_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsFullPipeline'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a pipeline on an existing source reader
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: pipeline_create
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - pipelines:write
        retrySemantics: unsafe
        title: Create a pipeline on an existing source reader
        triggerDescription: 'Attaches a new pipeline to an existing sourceReaderUUID.
          The reader must be unused or already shared (fan-out: one CDC capture, many
          destinations). To start a new capture from a source connector, use pipeline_create_from_source.'
  /pipelines/{uuid}:
    delete:
      description: Deletes a pipeline by UUID.
      operationId: pipeline_delete
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "500":
          description: Internal Server Error
      summary: Delete pipeline
      tags:
      - Pipelines
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: pipeline_delete
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - pipelines:delete
        retrySemantics: safe-after-state-check
        title: Delete pipeline
        triggerDescription: Permanently deletes a pipeline by UUID. Does not delete
          connectors.
    get:
      description: Returns pipeline detail. With query includeRelatedObjects=true
        returns pipeline, sourceReader, sourceConnector, and optional destinationConnector;
        otherwise returns FullPipeline only.
      operationId: pipeline_detail
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - in: query
        name: includeRelatedObjects
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterPipelineDetailResponse'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get pipeline by UUID
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Returns source, destination, and source-reader configuration
          that can contain credentials.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: pipeline_detail
        outputSensitivity: restricted-credentials
        readOnlyHint: true
        remediation: Use pipeline_list for non-secret pipeline metadata.
        requiredScopes:
        - pipelines:read
        retrySemantics: safe
        title: Get pipeline by UUID
        triggerDescription: Use when you need to get pipeline by UUID.
    post:
      description: 'Full replace of an existing pipeline by UUID. Omitted fields are
        written as zero values: missing dataPlaneName 400s, missing tables deletes
        every table. Clients must echo the last FullPipeline and change only the intended
        fields.'
      operationId: pipeline_update
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsFullPipeline'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update pipeline
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: pipeline_update
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - pipelines:write
        retrySemantics: unsafe
        title: Update pipeline
        triggerDescription: Replaces the full pipeline configuration (not a PATCH).
          Echo the last FullPipeline — not pipeline_list — and send destinationUUID
          and tables together; a destination-only body is rejected and omitting tables
          deletes all tables.
  /pipelines/{uuid}/automatic-schema-changes:
    post:
      description: Enqueues automatic schema changes for one eligible pipeline. Set
        forceRefresh to bypass the two-hour cooldown for this execution. The request
        is accepted before reconciliation completes.
      operationId: pipeline_trigger_automatic_schema_changes
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      - in: query
        name: forceRefresh
        schema:
          type: boolean
      responses:
        "202":
          description: Accepted
        "404":
          description: Not Found
        "409":
          description: Conflict
        "500":
          description: Internal Server Error
      summary: Trigger automatic schema changes
      tags:
      - Pipelines
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: pipeline_trigger_automatic_schema_changes
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - pipelines:write
        retrySemantics: safe-after-state-check
        title: Trigger automatic schema changes for a pipeline
        triggerDescription: Applies detected source DDL on one pipeline. For every
          eligible pipeline, use company_trigger_automatic_schema_changes.
  /pipelines/{uuid}/backfill:
    post:
      description: Triggers a backfill for specified tables in the pipeline. Supports
        options for pre-backfill behavior (drop, truncate, or do nothing) and schema/database
        filtering.
      operationId: pipeline_backfill_tables
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineBackfillRequest'
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "500":
          description: Internal Server Error
      summary: Backfill pipeline tables
      tags:
      - Pipelines
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: pipeline_backfill_tables
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - pipelines:write
        retrySemantics: unsafe
        title: Backfill pipeline tables
        triggerDescription: Backfills tables already on a running pipeline by table
          UUID. To attach tables, use pipeline_update.
  /pipelines/{uuid}/backfill/cancel:
    post:
      description: Cancels backfilling for the given table UUIDs and/or history table
        UUIDs.
      operationId: pipeline_cancel_backfill_tables
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineCancelBackfillRequest'
        required: true
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Cancel backfill
      tags:
      - Pipelines
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: pipeline_cancel_backfill_tables
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - pipelines:write
        retrySemantics: safe-after-state-check
        title: Cancel backfill
        triggerDescription: Cancels an in-progress backfill for the given table UUIDs.
  /pipelines/{uuid}/detect-schema-changes:
    post:
      description: Enqueues a background job that checks the pipeline's source database
        for new, removed, or altered tables. If the pipeline has auto-replicate or
        auto-history mode enabled, any newly discovered tables will be added to the
        pipeline automatically. An email summary is sent if changes are detected.
      operationId: pipeline_detect_schema_changes
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Detect schema changes
      tags:
      - Pipelines
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: pipeline_detect_schema_changes
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - pipelines:write
        retrySemantics: unsafe
        title: Detect schema changes
        triggerDescription: Checks the source for table or schema drift. To apply
          destination DDL, use pipeline_trigger_automatic_schema_changes.
  /pipelines/{uuid}/start:
    post:
      description: 'Starts or resumes a pipeline. Fails if the pipeline has no destination,
        no tables, or (Postgres/Cockroach/Oracle) a source reader with an empty database.
        Optional body: keepPaused, disableBackFill.'
      operationId: pipeline_start
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineStartRequest'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "500":
          description: Internal Server Error
      summary: Start pipeline
      tags:
      - Pipelines
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: pipeline_start
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - pipelines:write
        retrySemantics: unsafe
        title: Start pipeline
        triggerDescription: Deploys a draft or resumes a paused pipeline once destination,
          tables, and (Postgres/Cockroach/Oracle) reader database are set. Do not
          call immediately after create-from-source.
  /pipelines/{uuid}/status:
    post:
      description: Changes the status of a pipeline (e.g. running, paused). Validates
        the pipeline before resuming and deploys the configuration change.
      operationId: pipeline_update_status
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineUpdateStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterPipelineUpdateStatusResponse'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "409":
          description: Conflict
        "500":
          description: Internal Server Error
      summary: Update pipeline status
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: pipeline_update_status
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - pipelines:write
        retrySemantics: safe-after-state-check
        title: Update pipeline status
        triggerDescription: Pauses or resumes an already-configured pipeline. For
          first deploy, use pipeline_start.
  /pipelines/{uuid}/update-with-source-reader:
    post:
      description: Updates pipeline and optionally its source reader in one request.
        Accepts gzip-encoded body.
      operationId: pipeline_update_with_source_reader
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineUpdateWithSourceReaderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterPipelineUpdateWithSourceReaderResponse'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update pipeline with source reader
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Accepts and returns source-reader configuration that can
          contain credentials.
        exposure: excluded
        idempotentHint: false
        inputSensitivity: restricted-credentials
        openWorldHint: false
        operationId: pipeline_update_with_source_reader
        outputSensitivity: restricted-credentials
        readOnlyHint: false
        remediation: Update the pipeline separately and manage source-reader credentials
          outside MCP.
        requiredScopes:
        - pipelines:write
        retrySemantics: unsafe
        title: Update pipeline with source reader
        triggerDescription: Use when you need to update pipeline with source reader.
  /pipelines/create-from-source:
    post:
      description: Creates a draft pipeline and a dedicated source reader. Provide
        sourceConnectorUUID to use an existing source, or sourceType to create a stub
        source connector. Optional destinationType creates a stub destination. To
        attach another pipeline to the same reader, use POST /pipelines with a shared
        sourceReaderUUID.
      operationId: pipeline_create_from_source
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineCreateFromSourceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsFullPipeline'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a new pipeline from a source
      tags:
      - Pipelines
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: pipeline_create_from_source
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - pipelines:write
        retrySemantics: unsafe
        title: Create a new pipeline from a source
        triggerDescription: Creates a draft pipeline plus a new dedicated (non-shared)
          source reader. Pass sourceConnectorUUID to reuse a saved source; sourceType
          alone inserts an empty connector. For Postgres, Cockroach, and Oracle, pass
          database (from connector_fetch_databases) so the new reader can start. For
          a second destination on the same capture, use pipeline_create on a shared
          reader.
  /pipelines/validate-unsaved-destination:
    post:
      description: Validates destination configuration without persisting. Returns
        204 on success or 200 with error message on validation failure.
      operationId: pipeline_validate_unsaved_destination
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineValidateUnsavedDestinationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterValidateErrorResponse'
          description: OK
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Validate unsaved destination
      tags:
      - Pipelines
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: false
        exclusionReason: Accepts an unsaved destination connector configuration that
          can contain credentials.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: restricted-credentials
        openWorldHint: true
        operationId: pipeline_validate_unsaved_destination
        outputSensitivity: none
        readOnlyHint: true
        remediation: Save the destination connector first, then use a safe pipeline
          tool.
        requiredScopes:
        - pipelines:read
        retrySemantics: safe
        title: Validate unsaved destination
        triggerDescription: Use when you need to validate unsaved destination.
  /pipelines/validate-unsaved-source:
    post:
      description: Validates source reader and connector configuration without persisting.
        Returns 204 on success or 200 with error message on validation failure.
      operationId: pipeline_validate_unsaved_source
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPipelineValidateUnsavedSourceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterValidateErrorResponse'
          description: OK
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Validate unsaved source
      tags:
      - Pipelines
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: false
        exclusionReason: Accepts an unsaved source connector and source-reader configuration
          that can contain credentials.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: restricted-credentials
        openWorldHint: true
        operationId: pipeline_validate_unsaved_source
        outputSensitivity: none
        readOnlyHint: true
        remediation: Save the source configuration first, then use the safe pipeline
          tools.
        requiredScopes:
        - pipelines:read
        retrySemantics: safe
        title: Validate unsaved source
        triggerDescription: Use when you need to validate unsaved source.
  /privatelink-connections:
    post:
      description: Creates a new PrivateLink connection for the authenticated company.
      operationId: private_link_connection_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPrivateLinkConnectionCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsPrivateLinkConnection'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a PrivateLink connection
      tags:
      - PrivateLink Connections
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: private_link_connection_create
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - private_link_connections:write
        retrySemantics: unsafe
        title: Create a PrivateLink connection
        triggerDescription: Creates an AWS PrivateLink connection. Keep the returned
          UUID; there is no list tool.
  /privatelink-connections/{uuid}:
    delete:
      description: Permanently deletes a PrivateLink connection by UUID. This action
        cannot be undone and will remove the connection from your account.
      operationId: private_link_connection_delete
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Delete a PrivateLink connection
      tags:
      - PrivateLink Connections
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: private_link_connection_delete
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - private_link_connections:delete
        retrySemantics: safe-after-state-check
        title: Delete a PrivateLink connection
        triggerDescription: Permanently deletes a PrivateLink connection by UUID.
    get:
      description: Retrieves the details of a PrivateLink connection by UUID, including
        its status, VPC service name, region, DNS entry, and availability zones.
      operationId: private_link_connection_detail
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsPrivateLinkConnection'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get a PrivateLink connection
      tags:
      - PrivateLink Connections
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: private_link_connection_detail
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - private_link_connections:read
        retrySemantics: safe
        title: Get a PrivateLink connection
        triggerDescription: Returns one PrivateLink connection by UUID.
    post:
      description: Updates an existing PrivateLink connection by UUID. The name can
        always be updated. The config fields (region / VPC service name / data plane
        / availability zones) are only mutable while the connection is under review
        or errored — once it is being provisioned or live they are immutable.
      operationId: private_link_connection_update
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterPrivateLinkConnectionUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsPrivateLinkConnection'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update a PrivateLink connection
      tags:
      - PrivateLink Connections
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: private_link_connection_update
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - private_link_connections:write
        retrySemantics: unsafe
        title: Update a PrivateLink connection
        triggerDescription: Updates a PrivateLink connection. Region, VPC service
          name, data plane, and AZs are only mutable while under review or errored.
  /source-readers:
    get:
      description: Lists all source readers for the authenticated company.
      operationId: source_reader_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PayloadsSourceReader'
                type: array
          description: OK
        "500":
          description: Internal Server Error
      summary: List source readers
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Returns source-reader configuration that can contain credentials.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: source_reader_list
        outputSensitivity: restricted-credentials
        readOnlyHint: true
        remediation: Use safe pipeline metadata tools and manage source-reader credentials
          outside MCP.
        requiredScopes:
        - source_readers:read
        retrySemantics: safe
        title: List source readers
        triggerDescription: Use when you need to list source readers.
    post:
      description: Creates a new source reader for the authenticated company.
      operationId: source_reader_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterSourceReaderCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSourceReader'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create a source reader
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Accepts and returns source-reader configuration that can
          contain credentials.
        exposure: excluded
        idempotentHint: false
        inputSensitivity: restricted-credentials
        openWorldHint: false
        operationId: source_reader_create
        outputSensitivity: restricted-credentials
        readOnlyHint: false
        remediation: Create source readers through the authenticated Dashboard setup
          flow.
        requiredScopes:
        - source_readers:write
        retrySemantics: unsafe
        title: Create a source reader
        triggerDescription: Use when you need to create a source reader.
  /source-readers/{uuid}:
    delete:
      description: Permanently deletes a source reader by UUID. The source reader
        must not be associated with any active pipelines before deletion.
      operationId: source_reader_delete
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Delete a source reader
      tags:
      - Source Readers
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: true
        operationId: source_reader_delete
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - source_readers:delete
        retrySemantics: safe-after-state-check
        title: Delete a source reader
        triggerDescription: Deletes a source reader unused by any active pipeline.
          Does not delete the source connector.
    get:
      description: Retrieves the details of a source reader by UUID, including its
        configuration, status, connector association, and table settings.
      operationId: source_reader_detail
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSourceReader'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get a source reader
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Returns source-reader configuration that can contain credentials.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: source_reader_detail
        outputSensitivity: restricted-credentials
        readOnlyHint: true
        remediation: Use safe pipeline metadata tools and manage source-reader credentials
          outside MCP.
        requiredScopes:
        - source_readers:read
        retrySemantics: safe
        title: Get a source reader
        triggerDescription: Use when you need to get a source reader.
    post:
      description: Updates an existing source reader by UUID. You can modify the name,
        settings, table configuration, and shared status of the source reader.
      operationId: source_reader_update
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsSourceReader'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSourceReader'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update a source reader
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Accepts and returns source-reader configuration that can
          contain credentials.
        exposure: excluded
        idempotentHint: false
        inputSensitivity: restricted-credentials
        openWorldHint: false
        operationId: source_reader_update
        outputSensitivity: restricted-credentials
        readOnlyHint: false
        remediation: Update source readers through the authenticated Dashboard setup
          flow.
        requiredScopes:
        - source_readers:write
        retrySemantics: unsafe
        title: Update a source reader
        triggerDescription: Use when you need to update a source reader.
  /source-readers/{uuid}/deploy:
    post:
      description: Deploys a shared source reader to the data plane. The source reader
        must be shared and pass validation before it can be deployed.
      operationId: source_reader_deploy
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Deploy a source reader
      tags:
      - Source Readers
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: source_reader_deploy
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - source_readers:write
        retrySemantics: safe-after-state-check
        title: Deploy a source reader
        triggerDescription: Deploys a shared, validated source reader. To take a draft
          pipeline live, use pipeline_start.
  /source-readers/{uuid}/status:
    post:
      description: Changes the status of a shared source reader (e.g. running, paused).
        Only shared source readers are supported; for non-shared source readers, use
        the pipeline status endpoint instead.
      operationId: source_reader_update_status
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterSourceReaderUpdateStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSourceReader'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update source reader status
      tags:
      - Source Readers
      x-artie-mcp:
        destructiveHint: false
        exclusionReason: Returns source-reader configuration that can contain credentials.
        exposure: excluded
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: true
        operationId: source_reader_update_status
        outputSensitivity: restricted-credentials
        readOnlyHint: false
        remediation: Change source-reader status through the authenticated Dashboard
          setup flow.
        requiredScopes:
        - source_readers:write
        retrySemantics: safe-after-state-check
        title: Update source reader status
        triggerDescription: Use when you need to update source reader status.
  /source-readers/validate-unsaved:
    post:
      description: Validates a source reader configuration without persisting it.
      operationId: source_reader_validate_unsaved
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterSourceReaderValidateUnsavedRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouterSourceReaderValidateUnsavedResponse'
          description: OK
        "204":
          description: No Content
        "500":
          description: Internal Server Error
      summary: Validate an unsaved source reader
      tags:
      - Source Readers
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: false
        exclusionReason: Accepts unsaved source-reader configuration that can contain
          credentials.
        exposure: excluded
        idempotentHint: true
        inputSensitivity: restricted-credentials
        openWorldHint: true
        operationId: source_reader_validate_unsaved
        outputSensitivity: none
        readOnlyHint: true
        remediation: Validate source-reader credentials through the authenticated
          Dashboard setup flow.
        requiredScopes:
        - source_readers:read
        retrySemantics: safe
        title: Validate an unsaved source reader
        triggerDescription: Use when you need to validate an unsaved source reader.
  /ssh-tunnels:
    post:
      description: Creates a new SSH tunnel for the authenticated company.
      operationId: ssh_tunnel_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouterSSHTunnelCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSSHTunnel'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Create an SSH tunnel
      tags:
      - SSH Tunnels
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: ssh_tunnel_create
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - ssh_tunnels:write
        retrySemantics: unsafe
        title: Create an SSH tunnel
        triggerDescription: Creates an SSH tunnel record. Keep the returned UUID;
          there is no list tool.
  /ssh-tunnels/{uuid}:
    delete:
      description: Permanently deletes an SSH tunnel by UUID. The tunnel must not
        be in use by any connectors or pipelines before it can be deleted.
      operationId: ssh_tunnel_delete
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Delete an SSH tunnel
      tags:
      - SSH Tunnels
      x-artie-mcp:
        bodilessSuccess: true
        destructiveHint: true
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: ssh_tunnel_delete
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - ssh_tunnels:delete
        retrySemantics: safe-after-state-check
        title: Delete an SSH tunnel
        triggerDescription: Deletes an SSH tunnel unused by any connector or pipeline.
    get:
      description: Retrieves the details of an SSH tunnel by UUID, including its host,
        port, username, public key, and whether it is currently in use.
      operationId: ssh_tunnel_detail
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSSHTunnel'
          description: OK
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get an SSH tunnel
      tags:
      - SSH Tunnels
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: true
        inputSensitivity: none
        openWorldHint: false
        operationId: ssh_tunnel_detail
        outputSensitivity: none
        readOnlyHint: true
        requiredScopes:
        - ssh_tunnels:read
        retrySemantics: safe
        title: Get an SSH tunnel
        triggerDescription: Returns one SSH tunnel by UUID (no private key).
    post:
      description: Updates an existing SSH tunnel by UUID. You can modify the name,
        host, port, and username. Changes will mark associated pipelines as having
        undeployed changes.
      operationId: ssh_tunnel_update
      parameters:
      - in: path
        name: uuid
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsSSHTunnel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadsSSHTunnel'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Update an SSH tunnel
      tags:
      - SSH Tunnels
      x-artie-mcp:
        destructiveHint: false
        exposure: exposed
        idempotentHint: false
        inputSensitivity: none
        openWorldHint: false
        operationId: ssh_tunnel_update
        outputSensitivity: none
        readOnlyHint: false
        requiredScopes:
        - ssh_tunnels:write
        retrySemantics: unsafe
        title: Update an SSH tunnel
        triggerDescription: Updates name, host, port, or username on an existing SSH
          tunnel. Does not rotate keys.
webhooks:
  backfill.completed:
    post:
      description: Backfill completed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookBackfillCompleted'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  backfill.failed:
    post:
      description: Backfill failed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookBackfillFailed'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  backfill.started:
    post:
      description: Backfill started
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookBackfillStarted'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  connection.failed:
    post:
      description: Connection failed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookConnectionFailed'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  database.discovered:
    post:
      description: Database discovered
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDatabaseDiscovered'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  database.discovery_failed:
    post:
      description: Database discovery failed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDatabaseDiscovery_failed'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  database.removed:
    post:
      description: Database removed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDatabaseRemoved'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  ddl.applied:
    post:
      description: DDL applied
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDdlApplied'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  ddl.seen:
    post:
      description: DDL seen
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDdlSeen'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  dedupe.completed:
    post:
      description: Deduplication completed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDedupeCompleted'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  dedupe.failed:
    post:
      description: Deduplication failed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDedupeFailed'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  dedupe.started:
    post:
      description: Deduplication started
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDedupeStarted'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  dek.generated:
    post:
      description: Data Encryption Key (DEK) generated
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookDekGenerated'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  replication.error:
    post:
      description: Replication error
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookReplicationError'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  replication.failed:
    post:
      description: Replication failed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookReplicationFailed'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  replication.started:
    post:
      description: Replication started
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookReplicationStarted'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
  row.skipped:
    post:
      description: Row skipped
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayloadsWebhookRowSkipped'
        required: true
      responses:
        "200":
          description: Acknowledge delivery
components:
  schemas:
    EnumsConnectorSlug:
      enum:
      - api
      - bigquery
      - clickhouse
      - cockroach
      - databricks
      - documentdb
      - delta
      - dynamodb
      - gcs
      - iceberg
      - keyspaces
      - mongodb
      - motherduck
      - mssql
      - mysql
      - oracle
      - planetscale
      - postgresql
      - redis
      - redshift
      - s3
      - snowflake
      type: string
    EnumsPipelineStatus:
      enum:
      - draft
      - paused
      - transfer paused
      - running
      type: string
    EnumsSourceReaderStatus:
      enum:
      - draft
      - paused
      - running
      type: string
    ListResponseBodyColumnHashingSalt:
      properties:
        items:
          items:
            $ref: '#/components/schemas/PayloadsColumnHashingSalt'
          type: array
      required:
      - items
      type: object
    ListResponseBodyConnectorTable:
      properties:
        items:
          items:
            $ref: '#/components/schemas/RouterConnectorTable'
          type: array
      required:
      - items
      type: object
[...]
